h1 {
  border-bottom: 3px gold double;
}

@keyframes hover{
  0%{
    transform: rotate(0deg);
    }
  10% {
    transform: rotate(18deg);
  }
  20% {
    transform: rotate(36deg);
  }
  30% {
    transform: rotate(54deg);
  }
  40% {
    transform: rotate(72deg);
  }
  50% {
    transform: rotate(90deg);
  }
  60% {
    transform: rotate(108deg);
  }
  70% {
    transform: rotate(126deg);
  }
  80% {
    transform: rotate(144deg);
  }
  90% {
    transform: rotate(162deg);
  }
  100%{
    transform: rotate(180deg);
    transform: scale(1.2);
    }
  }

#hex-main {
  height: 100%;
  min-width: 100%;
  display: flex;
  padding: 50px;
  margin: 5px;
  --tile-size: 100px;
  --tile-margin: 4px;
  --tile-offset: calc(1.732 * var(--tile-size) + 4 * var(--tile-margin)  - 1px);
}

.hex-tiles::before {
  content: "";
  width: calc(var(--tile-size)/2 + var(--tile-margin));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(     
                   #0000 0 calc(var(--tile-offset) - 3px),      
                   #000  0 var(--tile-offset));
}
.hex-tiles {
font-size: 0;
}
.hex-tiles div {
  width: var(--tile-size);
  margin: var(--tile-margin);
  height: calc(var(--tile-size)*1.1547); 
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background: #BA2;
  margin-bottom: calc(var(--tile-margin) - var(--tile-size)*0.2885); 
  position: relative;
  object-fit: cover;
}
.hex-tiles div:nth-child(odd) {
  background-color:#A40;
}
.hex-tiles div:hover{
  animation-name: hover;
  animation-duration: 4s;
  animation-play-state: running;
  animation-delay: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  background-color: white;
  background-image: url("./2.png");
  z-index: 2;
  transition: 2s;
}
footer {
  border-top: 3px gold double;
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#credit{
  padding: 5px;
}
#other{
  text-align: right;
}
#other-sites{
  display: grid;
  grid-template-columns: 1fr; 
  padding-top: 10px;
}
